
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<head>
    <th:block layout::fragment="customCss">
    </th:block>
    <title>product page</title>
</head>
<body>

<div class="col-xs-12" layout:fragment="content">
    <!-- PAGE CONTENT BEGINS -->
    <p>
        <button class="btn" data-toggle="modal" data-target="#add-product">
            <i class="ace-icon fa fa-pencil align-top bigger-125"></i>
            Add
        </button>
    <div class="modal fade" id="add-product" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Thêm sản phẩm</h4>
                </div>
                <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <form id="addProduct">
                                    <div class="form-group">
                                        <input type="hidden"  class="form-control"  name="id" >
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Tên Sản Phẩm:</label>
                                        <input type="text" class="form-control"  name="name" required>
                                    </div>
                                    <div class="form-group">
                                        <label  class="control-label">Giá Sản Phẩm:</label>
                                        <input type="number" class="form-control"  name="price" required>
                                    </div>
                                </form>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" form="addProduct" class="btn btn-primary">Lưu</button>
                </div>
            </div>
        </div>
    </div>
    </p>


    <table id="simple-table" class="table  table-bordered table-hover">
        <thead>
        <tr>
<!--            <th class="center">-->
<!--                <label class="pos-rel">-->
<!--                    <input type="checkbox" class="ace" />-->
<!--                    <span class="lbl"></span>-->
<!--                </label>-->
<!--            </th>-->
            <th>Name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody id="logaction">
<!--        <tr>-->
<!--            <td class="center">-->
<!--                <label class="pos-rel">-->
<!--                    <input type="checkbox" class="ace" />-->
<!--                    <span class="lbl"></span>-->
<!--                </label>-->
<!--            </td>-->

<!--            <td>3,330</td>-->
<!--            <td>Feb 12</td>-->
<!--            <td>-->
<!--                <div class="hidden-sm hidden-xs btn-group">-->
<!--                    <button class="btn btn-xs btn-success">-->
<!--                        <i class="ace-icon fa fa-check bigger-120"></i>-->
<!--                    </button>-->

<!--                    <button class="btn btn-xs btn-info">-->
<!--                        <i class="ace-icon fa fa-pencil bigger-120"></i>-->
<!--                    </button>-->

<!--                    <button class="btn btn-xs btn-danger">-->
<!--                        <i class="ace-icon fa fa-trash-o bigger-120"></i>-->
<!--                    </button>-->

<!--                    <button class="btn btn-xs btn-warning">-->
<!--                        <i class="ace-icon fa fa-flag bigger-120"></i>-->
<!--                    </button>-->
<!--                </div>-->

<!--                <div class="hidden-md hidden-lg">-->
<!--                    <div class="inline pos-rel">-->
<!--                        <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">-->
<!--                            <i class="ace-icon fa fa-cog icon-only bigger-110"></i>-->
<!--                        </button>-->

<!--                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">-->
<!--                            <li>-->
<!--                                <a href="#" class="tooltip-info" data-rel="tooltip" title="View">-->
<!--																			<span class="blue">-->
<!--																				<i class="ace-icon fa fa-search-plus bigger-120"></i>-->
<!--																			</span>-->
<!--                                </a>-->
<!--                            </li>-->

<!--                            <li>-->
<!--                                <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">-->
<!--																			<span class="green">-->
<!--																				<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>-->
<!--																			</span>-->
<!--                                </a>-->
<!--                            </li>-->

<!--                            <li>-->
<!--                                <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">-->
<!--																			<span class="red">-->
<!--																				<i class="ace-icon fa fa-trash-o bigger-120"></i>-->
<!--																			</span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </td>-->
<!--        </tr>-->


        </tbody>
    </table>
    <!-- PAGE CONTENT ENDS -->
</div><!-- /.col -->

<th:block layout:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        /*<![CDATA[*/

        const getProduct = () => {
            axios.get('/get-product').then(function (res) {
                    var kq = "";
                    $.each(res.data.content, function (index, value) {
                        kq += result(value.id, value.name, value.price)
                    });
                    $("#logaction").html(kq);
            }).catch(function (error) {
                console.log(error);
            })
        }
        const addProduct = (data) => {
            axios.post('/product', data)
                .then(function () {
                    $('#add-product').modal('hide')
                    getProduct();
                    $("#addProduct").trigger("reset");
                })
                .catch(function (error) {
                    console.log(error);
                })
        }
        const updateProduct = (data, id) => {
            axios.patch(`/product/${id}`, data)
                .then(function () {
                    $('#add-product').modal('hide')
                    getProduct();
                    $("#addProduct").trigger("reset");
                })
                .catch(function (error) {
                    console.log(error);
                })
        }
        function deleteProduct(id){
            axios.delete('/product', {
                params: {
                    id: id
                }
            }).then(function () {
                getProduct();
            }).catch(function (error) {
                console.log(error);
            })
        }

        const getProductDetail = (id) => {
            $('#add-product').modal('show')
            axios.get('/getProductDetail',{
                params: {
                    id: id
                }
            }).then(function (res) {
                getDataDetail(res.data.id, res.data.name,res.data.price)
                // getProduct();
            }).catch(function (error) {
                console.log(error);
            })
        }

        function result(id, name, price) {
            var rs = "";
            rs += "<tr>";
            rs += "<td>" + name + "</td>";
            rs += "<td>" + price + "</td>";

            rs += "<td>"
                +
                "                    <button onclick='deleteProduct("+id+")' class=\"btn btn-xs btn-danger\">\n" +
                "                        <i class=\"ace-icon fa fa-trash-o bigger-120\"></i>\n" +
                "                    </button>"
                +
                "                    <button onclick='getProductDetail("+id+")' class=\"btn btn-xs btn-info\">\n" +
                "                        <i class=\"ace-icon fa fa-pencil bigger-120\"></i>\n" +
                "                    </button>"
                + "</td>";

            rs += "</tr>";
            return rs;
        }


        function getDataDetail(id, name, price){
            $("input[name=id]").val(id);
            $("input[name=name]").val(name);
            $("input[name=price]").val(price);
        }
        $(document).ready(function (e) {
            getProduct();
            $("#addProduct").submit(function (event) {
                event.preventDefault();
                let id = $("input[name=id]").val()
                if (id){
                    updateProduct($("#addProduct").serialize(), id)
                }else {
                    addProduct($("#addProduct").serialize())
                }
            });
        });

        jQuery(function($) {
            //table checkboxes
            $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

            //And for the first simple table, which doesn't have TableTools or dataTables
            //select/deselect all rows according to table header checkbox
            var active_class = 'active';
            $('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function(){
                var th_checked = this.checked;//checkbox inside "TH" table header

                $(this).closest('table').find('tbody > tr').each(function(){
                    var row = this;
                    if(th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                    else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
                });
            });

            //select/deselect a row when the checkbox is checked/unchecked
            $('#simple-table').on('click', 'td input[type=checkbox]' , function(){
                var $row = $(this).closest('tr');
                if($row.is('.detail-row ')) return;
                if(this.checked) $row.addClass(active_class);
                else $row.removeClass(active_class);
            });

            /********************************/
            //add tooltip for small view action buttons in dropdown menu
            $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});

            //tooltip placement on right or left
            function tooltip_placement(context, source) {
                var $source = $(source);
                var $parent = $source.closest('table')
                var off1 = $parent.offset();
                var w1 = $parent.width();

                var off2 = $source.offset();
                //var w2 = $source.width();

                if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
                return 'left';
            }

            /***************/
            $('.show-details-btn').on('click', function(e) {
                e.preventDefault();
                $(this).closest('tr').next().toggleClass('open');
                $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
            });

        })
        /*]]>*/
    </script>
</th:block>



</body>
</html>

